/* Frame 3 */

position: relative;
width: 1442px;
height: 1046px;



/* Group 1 */

position: absolute;
width: 1442px;
height: 1032px;
left: -3px;
top: 14px;



/* Desktop - 1 */

position: absolute;
width: 1442px;
height: 1032px;
left: -3px;
top: 14px;

background: #FFFFFF;


/* HEADER */

position: absolute;
width: 1440px;
height: 182px;
left: 0px;
top: -2px;

background: #0C0A3E;


/* CENTRE HOSPITALIER BERNARD */

position: absolute;
width: 421px;
height: 35px;
left: 426px;
top: 86px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #FFFFFF;



/* BARRE DE NAVIGATION */

position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 180px;

background: #1E555C;


/* Rectangle 1 */

position: absolute;
width: 234px;
height: 98px;
left: 0px;
top: 182px;

background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* ACCEUIL */

position: absolute;
width: 93px;
height: 29px;
left: 66px;
top: 217px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* NOS SERVICES */

position: absolute;
width: 251px;
height: 98px;
left: 318px;
top: 180px;

background: #D9D9D9;
mix-blend-mode: normal;


/* NOS SERVICES */

position: absolute;
width: 155px;
height: 29px;
left: 354px;
top: 226px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* Rectangle 2 */

position: absolute;
width: 258px;
height: 96px;
left: 676px;
top: 184px;

background: #D9D9D9;
mix-blend-mode: plus-lighter;


/* ADMISSION */

position: absolute;
width: 135px;
height: 32px;
left: 752px;
top: 226px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

color: #000000;



/* Rectangle 3 */

position: absolute;
width: 279px;
height: 98px;
left: 1041px;
top: 182px;

background: #D9D9D9;


/* SE CONNECTER */

position: absolute;
width: 166px;
height: 29px;
left: 1115px;
top: 231px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* tempImageYUV6nZ 1 */

position: absolute;
visibility: hidden;
width: 1198px;
height: 588px;
left: 0px;
top: 294px;

background: url(tempImageYUV6nZ);


/* footer */

position: absolute;
width: 1440px;
height: 140px;
left: 2px;
top: 894px;

background: #71B48D;


/* Mentions légales — plan du site —Nous contacter */

position: absolute;
width: 603px;
height: 35px;
left: 815px;
top: 976px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* centre Hospitalier BERNARD 18 avenue Jean Jaurès - 0712131415 */

position: absolute;
width: 426px;
height: 70px;
left: 103px;
top: 966px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* coté */

position: absolute;
width: 1px;
height: 1px;
left: 1440px;
top: 292px;

background: #D9D9D9;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* chez nous ,votre santé est notre priorité , absolue. nous nous engageons à vous fournir des soins médicaux de qualité surpérieure dans un environnement chaleureux et accueillant. */

position: absolute;
visibility: hidden;
width: 232px;
height: 564px;
left: 1208px;
top: 306px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* logo */

position: absolute;
width: 215px;
height: 180px;
left: 2px;
top: 0px;

background: url(tempImageeHSX3Y);


/* image services */

position: absolute;
visibility: hidden;
width: 674px;
height: 436px;
left: 2px;
top: 280px;

background: url(tempImagenV1Wyq);


/* Group 2 */

position: absolute;
visibility: hidden;
width: 670.92px;
height: 424.31px;
left: -1.92px;
top: 291.69px;



/* MODULE DE SERVICE */

position: absolute;
width: 667.06px;
height: 420.78px;
left: -1.92px;
top: 295.24px;

transform: matrix(1, -0.01, 0.01, 1, 0, 0);


/* MODULE DE SERVICE */

position: absolute;
left: 0%;
right: 0%;
top: 0.84%;
bottom: -0.84%;

background: #FCF6EB;
transform: matrix(1, -0.01, 0.01, 1, 0, 0);


/* Line 1 */

position: absolute;
width: 618.7px;
height: 0px;
left: 23.19px;
top: 361.67px;

border: 1px solid #000000;
transform: matrix(1, 0, 0, 1, 0, 0);


/* ACCUEIL DU JOUR */

position: absolute;
width: 233.78px;
height: 24.53px;
left: 98.77px;
top: 333.32px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 2 */

position: absolute;
width: 641.88px;
height: 0px;
left: 0.01px;
top: 429.89px;

border: 1px solid #000000;


/* MEDECINE */

position: absolute;
width: 141.07px;
height: 24.53px;
left: 112.87px;
top: 403.06px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 3 */

position: absolute;
width: 641.89px;
height: 0px;
left: 0.01px;
top: 488.9px;

border: 1px solid #000000;
transform: matrix(1, 0, 0.01, 1, 0, 0);


/* MATERNITE */

position: absolute;
width: 157.19px;
height: 24.53px;
left: 100.78px;
top: 463.61px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 4 */

position: absolute;
width: 667.07px;
height: 0px;
left: 0.01px;
top: 542.55px;

border: 1px solid #000000;
transform: matrix(1, 0, 0, 1, 0, 0);


/* GENECOLOGIE */

position: absolute;
width: 194.48px;
height: 24.53px;
left: 115.9px;
top: 519.56px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 5 */

position: absolute;
width: 667.07px;
height: 0px;
left: 0.01px;
top: 594.67px;

border: 1px solid #000000;
transform: matrix(1, 0, 0, 1, 0, 0);


/* PEDIATRIE */

position: absolute;
width: 143.09px;
height: 24.53px;
left: 117.91px;
top: 575.51px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 6 */

position: absolute;
width: 667.07px;
height: 0px;
left: 0.01px;
top: 641.42px;

border: 1px solid #000000;


/* SOINS DE READAPTATION */

position: absolute;
width: 340.59px;
height: 26.83px;
left: 112.87px;
top: 619.96px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 7 */

position: absolute;
width: 667.07px;
height: 0px;
left: 0.01px;
top: 692px;

border: 1px solid #000000;


/* SOINS PALIATIF */

position: absolute;
width: 213.62px;
height: 26.83px;
left: 115.9px;
top: 672.08px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* tempImagezZO9oN 1 */

position: absolute;
width: 697px;
height: 606px;
left: 2px;
top: 278px;

background: url(tempImagezZO9oN);


/* Rectangle 5 */

position: absolute;
visibility: hidden;
width: 11px;
height: 4px;
left: 688px;
top: 293px;

background: #D9D9D9;


/* MODULE ADMISSION */

position: absolute;
width: 698px;
height: 403px;
left: 720px;
top: 292px;

background: #E1D8D8;
border-radius: 20px;


/* Rectangle 6 */

position: absolute;
visibility: hidden;
width: 196px;
height: 147px;
left: 721px;
top: 316px;

background: #D9D9D9;


/* Rectangle 8 */

position: absolute;
width: 697px;
height: 99px;
left: 721px;
top: 299px;

background: #FDF3F3;


/* LIVRETS D’ACCUEIL */

position: absolute;
width: 259px;
height: 35px;
left: 842px;
top: 365px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Rectangle 9 */

position: absolute;
width: 697px;
height: 127px;
left: 721px;
top: 402px;

background: #FDF3F3;


/* FORMALITÉS D’ADMISSION */

position: absolute;
width: 353px;
height: 35px;
left: 847px;
top: 441px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Rectangle 10 */

position: absolute;
width: 697px;
height: 134px;
left: 721px;
top: 523px;

background: #FDF3F3;


/* VOTRE SORTIE */

position: absolute;
width: 192px;
height: 35px;
left: 846px;
top: 555px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* A PROPOS DE NOUS */

position: absolute;
width: 743px;
height: 152px;
left: 699px;
top: 732px;

background: #D9D9D9;


/* A PROPOS DE NOUS */

position: absolute;
width: 333px;
height: 33px;
left: 874px;
top: 813px;

font-family: 'Archivo Black';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 33px;
/* identical to box height */

color: #000000;



/* Rectangle 7 */

position: absolute;
width: 3px;
height: 3px;
left: 1439px;
top: 884px;

background: #D9D9D9;


/* Frame 1 */

position: relative;
width: 1442px;
height: 1046px;



/* Group 1 */

position: absolute;
width: 1442px;
height: 1046px;
left: 0px;
top: 0px;



/* Desktop - 1 */

position: absolute;
width: 1442px;
height: 1046px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* HEADER */

position: absolute;
width: 1440px;
height: 182px;
left: 0px;
top: -2px;

background: #0C0A3E;


/* CENTRE HOSPITALIER BERNARD */

position: absolute;
width: 421px;
height: 35px;
left: 426px;
top: 86px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #FFFFFF;



/* BARRE DE NAVIGATION */

position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 180px;

background: #1E555C;


/* Rectangle 1 */

position: absolute;
width: 234px;
height: 98px;
left: 0px;
top: 182px;

background: #D9D9D9;
mix-blend-mode: plus-lighter;


/* ACCEUIL */

position: absolute;
width: 93px;
height: 29px;
left: 66px;
top: 217px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* NOS SERVICES */

position: absolute;
width: 251px;
height: 98px;
left: 306px;
top: 182px;

background: #D9D9D9;


/* NOS SERVICES */

position: absolute;
width: 155px;
height: 29px;
left: 354px;
top: 226px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* Rectangle 2 */

position: absolute;
width: 258px;
height: 96px;
left: 662px;
top: 182px;

background: #D9D9D9;


/* ADMISSION */

position: absolute;
width: 125px;
height: 29px;
left: 752px;
top: 226px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* Rectangle 3 */

position: absolute;
width: 279px;
height: 98px;
left: 1041px;
top: 182px;

background: #D9D9D9;


/* SE CONNECTER */

position: absolute;
width: 166px;
height: 29px;
left: 1115px;
top: 231px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* tempImageYUV6nZ 1 */

position: absolute;
width: 1198px;
height: 588px;
left: 0px;
top: 294px;

background: url(tempImageYUV6nZ);


/* footer */

position: absolute;
width: 1440px;
height: 142px;
left: 2px;
top: 894px;



/* footer */

position: absolute;
width: 1440px;
height: 140px;
left: 2px;
top: 894px;

background: #71B48D;


/* Mentions légales — plan du site —Nous contacter */

position: absolute;
width: 603px;
height: 35px;
left: 815px;
top: 976px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* centre Hospitalier BERNARD 18 avenue Jean Jaurès - 0712131415 */

position: absolute;
width: 426px;
height: 70px;
left: 103px;
top: 966px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* coté */

position: absolute;
width: 242px;
height: 590px;
left: 1198px;
top: 292px;

background: #D9D9D9;


/* chez nous ,votre santé est notre priorité , absolue. nous nous engageons à vous fournir des soins médicaux de qualité surpérieure dans un environnement chaleureux et accueillant. */

position: absolute;
width: 232px;
height: 564px;
left: 1208px;
top: 306px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* tempImageeHSX3Y 1 */

position: absolute;
width: 215px;
height: 180px;
left: 2px;
top: 0px;

background: url(tempImageeHSX3Y);


/* Frame 2 */

position: relative;
width: 1442px;
height: 1046px;



/* Group 1 */

position: absolute;
width: 1442px;
height: 1046px;
left: 0px;
top: 0px;



/* Desktop - 1 */

position: absolute;
width: 1442px;
height: 1046px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* HEADER */

position: absolute;
width: 1440px;
height: 182px;
left: 0px;
top: -2px;

background: #0C0A3E;


/* CENTRE HOSPITALIER BERNARD */

position: absolute;
width: 421px;
height: 35px;
left: 426px;
top: 86px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #FFFFFF;



/* BARRE DE NAVIGATION */

position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 180px;

background: #1E555C;


/* Rectangle 1 */

position: absolute;
width: 234px;
height: 98px;
left: 0px;
top: 182px;

background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* ACCEUIL */

position: absolute;
width: 93px;
height: 29px;
left: 66px;
top: 217px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* NOS SERVICES */

position: absolute;
width: 251px;
height: 98px;
left: 306px;
top: 182px;

background: #D9D9D9;
mix-blend-mode: plus-lighter;


/* NOS SERVICES */

position: absolute;
width: 155px;
height: 29px;
left: 354px;
top: 226px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* Rectangle 2 */

position: absolute;
width: 258px;
height: 96px;
left: 662px;
top: 182px;

background: #D9D9D9;


/* ADMISSION */

position: absolute;
width: 125px;
height: 29px;
left: 752px;
top: 226px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* Rectangle 3 */

position: absolute;
width: 279px;
height: 98px;
left: 1041px;
top: 182px;

background: #D9D9D9;


/* SE CONNECTER */

position: absolute;
width: 166px;
height: 29px;
left: 1115px;
top: 231px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* tempImageYUV6nZ 1 */

position: absolute;
visibility: hidden;
width: 1198px;
height: 588px;
left: 0px;
top: 294px;

background: url(tempImageYUV6nZ);


/* footer */

position: absolute;
width: 1440px;
height: 140px;
left: 2px;
top: 894px;

background: #71B48D;


/* Mentions légales — plan du site —Nous contacter */

position: absolute;
width: 603px;
height: 35px;
left: 815px;
top: 976px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* centre Hospitalier BERNARD 18 avenue Jean Jaurès - 0712131415 */

position: absolute;
width: 426px;
height: 70px;
left: 103px;
top: 966px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* coté */

position: absolute;
width: 1px;
height: 1px;
left: 1440px;
top: 292px;

background: #D9D9D9;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* chez nous ,votre santé est notre priorité , absolue. nous nous engageons à vous fournir des soins médicaux de qualité surpérieure dans un environnement chaleureux et accueillant. */

position: absolute;
visibility: hidden;
width: 232px;
height: 564px;
left: 1208px;
top: 306px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* logo */

position: absolute;
width: 215px;
height: 180px;
left: 2px;
top: 0px;

background: url(tempImageeHSX3Y);


/* image services */

position: absolute;
width: 770px;
height: 424px;
left: 669px;
top: 292px;

background: url(tempImagenV1Wyq);


/* MODULE DE SERVICE */

position: absolute;
width: 662px;
height: 552px;
left: 0px;
top: 294px;



/* MODULE DE SERVICE */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FCF6EB;


/* Line 1 */

position: absolute;
width: 614px;
height: 0px;
left: 23px;
top: 383px;

border: 1px solid #000000;
transform: rotate(-0.19deg);


/* ACCUEIL DU JOUR */

position: absolute;
width: 232px;
height: 35px;
left: 98px;
top: 346px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 2 */

position: absolute;
width: 637px;
height: 0px;
left: 0px;
top: 472px;

border: 1px solid #000000;


/* MEDECINE */

position: absolute;
width: 140px;
height: 35px;
left: 112px;
top: 437px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 3 */

position: absolute;
width: 637.01px;
height: 0px;
left: 0px;
top: 549px;

border: 1px solid #000000;
transform: rotate(-0.36deg);


/* MATERNITE */

position: absolute;
width: 156px;
height: 35px;
left: 100px;
top: 516px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 4 */

position: absolute;
width: 662px;
height: 0px;
left: 0px;
top: 619px;

border: 1px solid #000000;
transform: rotate(-0.17deg);


/* GYNÉCOLOGIE */

position: absolute;
width: 193px;
height: 35px;
left: 115px;
top: 589px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 5 */

position: absolute;
width: 662px;
height: 0px;
left: 0px;
top: 687px;

border: 1px solid #000000;
transform: rotate(-0.17deg);


/* PÉDIATRIE */

position: absolute;
width: 142px;
height: 35px;
left: 117px;
top: 662px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 6 */

position: absolute;
width: 662px;
height: 0px;
left: 0px;
top: 748px;

border: 1px solid #000000;


/* SOINS DE READAPTATION */

position: absolute;
width: 338px;
height: 35px;
left: 112px;
top: 720px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 7 */

position: absolute;
width: 662px;
height: 0px;
left: 0px;
top: 814px;

border: 1px solid #000000;


/* SOINS PALIATIF */

position: absolute;
width: 212px;
height: 35px;
left: 115px;
top: 788px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* A PROPOS DE NOUS */

position: absolute;
width: 743px;
height: 152px;
left: 682px;
top: 729px;

background: #D9D9D9;


/* A PROPOS DE NOUS */

position: absolute;
width: 333px;
height: 33px;
left: 845px;
top: 811px;

font-family: 'Archivo Black';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 33px;
/* identical to box height */

color: #000000;



/* Frame 4 */

position: relative;
width: 1442px;
height: 1046px;



/* Group 1 */

position: absolute;
width: 1442px;
height: 1046px;
left: 0px;
top: 70px;



/* Desktop - 1 */

position: absolute;
width: 1442px;
height: 1046px;
left: 0px;
top: 70px;

background: #FFFFFF;


/* HEADER */

position: absolute;
width: 1440px;
height: 182px;
left: 0px;
top: -2px;

background: #0C0A3E;


/* CENTRE HOSPITALIER BERNARD */

position: absolute;
width: 421px;
height: 35px;
left: 426px;
top: 86px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #FFFFFF;



/* BARRE DE NAVIGATION */

position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 180px;

background: #1E555C;


/* Rectangle 1 */

position: absolute;
width: 234px;
height: 98px;
left: 0px;
top: 182px;

background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* ACCEUIL */

position: absolute;
width: 93px;
height: 29px;
left: 66px;
top: 217px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* NOS SERVICES */

position: absolute;
width: 251px;
height: 98px;
left: 306px;
top: 182px;

background: #D9D9D9;
mix-blend-mode: lighten;


/* NOS SERVICES */

position: absolute;
width: 155px;
height: 29px;
left: 354px;
top: 226px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* Rectangle 2 */

position: absolute;
width: 258px;
height: 96px;
left: 662px;
top: 182px;

background: #D9D9D9;


/* ADMISSION */

position: absolute;
width: 125px;
height: 29px;
left: 752px;
top: 226px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* Rectangle 3 */

position: absolute;
width: 279px;
height: 98px;
left: 1041px;
top: 182px;

background: #D9D9D9;
mix-blend-mode: plus-lighter;


/* SE CONNECTER */

position: absolute;
width: 179px;
height: 32px;
left: 1115px;
top: 231px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

color: #000000;



/* tempImageYUV6nZ 1 */

position: absolute;
visibility: hidden;
width: 1198px;
height: 588px;
left: 0px;
top: 294px;

background: url(tempImageYUV6nZ);


/* footer */

position: absolute;
width: 1440px;
height: 140px;
left: 2px;
top: 894px;

background: #71B48D;


/* Mentions légales — plan du site —Nous contacter */

position: absolute;
width: 603px;
height: 35px;
left: 815px;
top: 976px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* centre Hospitalier BERNARD 18 avenue Jean Jaurès - 0712131415 */

position: absolute;
width: 426px;
height: 70px;
left: 103px;
top: 966px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* coté */

position: absolute;
visibility: hidden;
width: 1px;
height: 1px;
left: 1440px;
top: 292px;

background: #D9D9D9;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* chez nous ,votre santé est notre priorité , absolue. nous nous engageons à vous fournir des soins médicaux de qualité surpérieure dans un environnement chaleureux et accueillant. */

position: absolute;
visibility: hidden;
width: 232px;
height: 564px;
left: 1208px;
top: 306px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* logo */

position: absolute;
width: 215px;
height: 180px;
left: 5px;
top: 0px;

background: url(tempImageeHSX3Y);


/* image services */

position: absolute;
visibility: hidden;
width: 770px;
height: 424px;
left: 669px;
top: 292px;

background: url(tempImagenV1Wyq);


/* MODULE DE SERVICE */

position: absolute;
visibility: hidden;
width: 662px;
height: 552px;
left: 0px;
top: 294px;



/* Line 1 */

position: absolute;
visibility: hidden;
width: 614px;
height: 0px;
left: 23px;
top: 383px;

border: 1px solid #000000;
transform: rotate(-0.19deg);


/* ACCUEIL DU JOUR */

position: absolute;
visibility: hidden;
width: 232px;
height: 35px;
left: 98px;
top: 346px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 2 */

position: absolute;
visibility: hidden;
width: 637px;
height: 0px;
left: 0px;
top: 472px;

border: 1px solid #000000;


/* MEDECINE */

position: absolute;
visibility: hidden;
width: 140px;
height: 35px;
left: 112px;
top: 437px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 3 */

position: absolute;
visibility: hidden;
width: 637.01px;
height: 0px;
left: 0px;
top: 549px;

border: 1px solid #000000;
transform: rotate(-0.36deg);


/* MATERNITE */

position: absolute;
visibility: hidden;
width: 156px;
height: 35px;
left: 100px;
top: 516px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 4 */

position: absolute;
visibility: hidden;
width: 662px;
height: 0px;
left: 0px;
top: 619px;

border: 1px solid #000000;
transform: rotate(-0.17deg);


/* GENECOLOGIE */

position: absolute;
visibility: hidden;
width: 193px;
height: 35px;
left: 115px;
top: 589px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 5 */

position: absolute;
visibility: hidden;
width: 662px;
height: 0px;
left: 0px;
top: 687px;

border: 1px solid #000000;
transform: rotate(-0.17deg);


/* PEDIATRIE */

position: absolute;
visibility: hidden;
width: 142px;
height: 35px;
left: 117px;
top: 662px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 6 */

position: absolute;
visibility: hidden;
width: 662px;
height: 0px;
left: 0px;
top: 748px;

border: 1px solid #000000;


/* SOINS DE READAPTATION */

position: absolute;
visibility: hidden;
width: 338px;
height: 35px;
left: 112px;
top: 720px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 7 */

position: absolute;
visibility: hidden;
width: 662px;
height: 0px;
left: 0px;
top: 814px;

border: 1px solid #000000;


/* SOINS PALIATIF */

position: absolute;
visibility: hidden;
width: 212px;
height: 35px;
left: 115px;
top: 788px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Rectangle 11 */

position: absolute;
width: 735px;
height: 99px;
left: 306px;
top: 378px;

background: #D9D9D9;


/* Rectangle 12 */

position: absolute;
width: 730px;
height: 103px;
left: 311px;
top: 562px;

background: #D9D9D9;


/* EMAIL */

position: absolute;
width: 83px;
height: 35px;
left: 85px;
top: 425px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* PASSWORD */

position: absolute;
width: 150px;
height: 35px;
left: 57px;
top: 613px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* INTERFACE ACCES */

position: absolute;
width: 1442px;
height: 1046px;



/* Desktop - 1 */

position: absolute;
width: 1442px;
height: 1046px;

background: #FFFFFF;


/* HEADER */

position: absolute;
width: 1440px;
height: 182px;
left: 0px;
top: -2px;

background: #0C0A3E;


/* CENTRE HOSPITALIER BERNARD */

position: absolute;
width: 421px;
height: 35px;
left: 426px;
top: 86px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #FFFFFF;



/* BARRE DE NAVIGATION */

position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 180px;

background: #1E555C;


/* Rectangle 1 */

position: absolute;
width: 234px;
height: 98px;
left: 0px;
top: 182px;

background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* ACCEUIL */

position: absolute;
width: 93px;
height: 29px;
left: 66px;
top: 217px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* NOS SERVICES */

position: absolute;
width: 251px;
height: 98px;
left: 306px;
top: 182px;

background: #D9D9D9;
mix-blend-mode: lighten;


/* NOS SERVICES */

position: absolute;
width: 155px;
height: 29px;
left: 354px;
top: 226px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* Rectangle 2 */

position: absolute;
width: 258px;
height: 96px;
left: 662px;
top: 182px;

background: #D9D9D9;


/* ADMISSION */

position: absolute;
width: 125px;
height: 29px;
left: 752px;
top: 226px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* Rectangle 3 */

position: absolute;
width: 279px;
height: 98px;
left: 1041px;
top: 182px;

background: #D9D9D9;
mix-blend-mode: plus-lighter;


/* SE CONNECTER */

position: absolute;
width: 179px;
height: 32px;
left: 1115px;
top: 231px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

color: #000000;



/* tempImageYUV6nZ 1 */

position: absolute;
visibility: hidden;
width: 1198px;
height: 588px;
left: 0px;
top: 294px;

background: url(tempImageYUV6nZ);


/* footer */

position: absolute;
width: 1440px;
height: 140px;
left: 2px;
top: 894px;

background: #71B48D;


/* Mentions légales — plan du site —Nous contacter */

position: absolute;
width: 603px;
height: 35px;
left: 815px;
top: 976px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* centre Hospitalier BERNARD 18 avenue Jean Jaurès - 0712131415 */

position: absolute;
width: 426px;
height: 70px;
left: 103px;
top: 966px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* coté */

position: absolute;
visibility: hidden;
width: 1px;
height: 1px;
left: 1440px;
top: 292px;

background: #D9D9D9;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* chez nous ,votre santé est notre priorité , absolue. nous nous engageons à vous fournir des soins médicaux de qualité surpérieure dans un environnement chaleureux et accueillant. */

position: absolute;
visibility: hidden;
width: 232px;
height: 564px;
left: 1208px;
top: 306px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* logo */

position: absolute;
width: 215px;
height: 180px;
left: 5px;
top: 0px;

background: url(tempImageeHSX3Y);


/* image services */

position: absolute;
visibility: hidden;
width: 770px;
height: 424px;
left: 669px;
top: 292px;

background: url(tempImagenV1Wyq);


/* MODULE DE SERVICE */

position: absolute;
visibility: hidden;
width: 662px;
height: 552px;
left: 0px;
top: 294px;



/* Line 1 */

position: absolute;
visibility: hidden;
width: 614px;
height: 0px;
left: 23px;
top: 383px;

border: 1px solid #000000;
transform: rotate(-0.19deg);


/* ACCUEIL DU JOUR */

position: absolute;
visibility: hidden;
width: 232px;
height: 35px;
left: 98px;
top: 346px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 2 */

position: absolute;
visibility: hidden;
width: 637px;
height: 0px;
left: 0px;
top: 472px;

border: 1px solid #000000;


/* MEDECINE */

position: absolute;
visibility: hidden;
width: 140px;
height: 35px;
left: 112px;
top: 437px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 3 */

position: absolute;
visibility: hidden;
width: 637.01px;
height: 0px;
left: 0px;
top: 549px;

border: 1px solid #000000;
transform: rotate(-0.36deg);


/* MATERNITE */

position: absolute;
visibility: hidden;
width: 156px;
height: 35px;
left: 100px;
top: 516px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 4 */

position: absolute;
visibility: hidden;
width: 662px;
height: 0px;
left: 0px;
top: 619px;

border: 1px solid #000000;
transform: rotate(-0.17deg);


/* GENECOLOGIE */

position: absolute;
visibility: hidden;
width: 193px;
height: 35px;
left: 115px;
top: 589px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 5 */

position: absolute;
visibility: hidden;
width: 662px;
height: 0px;
left: 0px;
top: 687px;

border: 1px solid #000000;
transform: rotate(-0.17deg);


/* PEDIATRIE */

position: absolute;
visibility: hidden;
width: 142px;
height: 35px;
left: 117px;
top: 662px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 6 */

position: absolute;
visibility: hidden;
width: 662px;
height: 0px;
left: 0px;
top: 748px;

border: 1px solid #000000;


/* SOINS DE READAPTATION */

position: absolute;
visibility: hidden;
width: 338px;
height: 35px;
left: 112px;
top: 720px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 7 */

position: absolute;
visibility: hidden;
width: 662px;
height: 0px;
left: 0px;
top: 814px;

border: 1px solid #000000;


/* SOINS PALIATIF */

position: absolute;
visibility: hidden;
width: 212px;
height: 35px;
left: 115px;
top: 788px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Rectangle 18 */

position: absolute;
width: 833px;
height: 477px;
left: 585px;
top: 280px;

background: #E3E3E3;


/* FICHE DE SUIVIE PATIENTS */

position: absolute;
width: 392px;
height: 39px;
left: 720px;
top: 468px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;



/* CALENDRIER DES RENDEZ-VOUS */

position: absolute;
width: 505px;
height: 38px;
left: 722px;
top: 333px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #000000;



/* Line 8 */

position: absolute;
width: 823px;
height: 0px;
left: 595px;
top: 378px;

border: 1px solid #000000;


/* Line 9 */

position: absolute;
width: 823px;
height: 0px;
left: 595px;
top: 523px;

border: 1px solid #000000;


/* Line 10 */

position: absolute;
width: 832.01px;
height: 0px;
left: 586px;
top: 641px;

border: 1px solid #000000;
transform: rotate(-0.28deg);


/* RAPPORTS ET ANALYSES */

position: absolute;
width: 392px;
height: 39px;
left: 720px;
top: 590px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;



/* DOCUMENTATION */

position: absolute;
width: 281px;
height: 39px;
left: 720px;
top: 702px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;



/* Rectangle 19 */

position: absolute;
visibility: hidden;
width: 557px;
height: 597px;
left: 0px;
top: 297px;

background: #D9D9D9;


/* tempImageHNGttH 1 */

position: absolute;
width: 8px;
height: 27px;
left: 29px;
top: 306px;

background: url(tempImageHNGttH);


/* tempImageIJqCYU 1 */

position: absolute;
width: 595px;
height: 614px;
left: 0px;
top: 280px;

background: url(tempImageIJqCYU);


/* INTERFACE ACCES */

position: absolute;
width: 1442px;
height: 1046px;



/* Desktop - 1 */

position: absolute;
width: 1442px;
height: 1046px;

background: #FFFFFF;


/* HEADER */

position: absolute;
width: 1440px;
height: 182px;
left: 0px;
top: -2px;

background: #0C0A3E;


/* CENTRE HOSPITALIER BERNARD */

position: absolute;
width: 421px;
height: 35px;
left: 426px;
top: 86px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #FFFFFF;



/* BARRE DE NAVIGATION */

position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 180px;

background: #1E555C;


/* Rectangle 1 */

position: absolute;
width: 234px;
height: 98px;
left: 0px;
top: 182px;

background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* ACCEUIL */

position: absolute;
width: 93px;
height: 29px;
left: 66px;
top: 217px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* NOS SERVICES */

position: absolute;
width: 251px;
height: 98px;
left: 306px;
top: 182px;

background: #D9D9D9;
mix-blend-mode: lighten;


/* NOS SERVICES */

position: absolute;
width: 155px;
height: 29px;
left: 354px;
top: 226px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* Rectangle 2 */

position: absolute;
width: 258px;
height: 96px;
left: 662px;
top: 182px;

background: #D9D9D9;


/* ADMISSION */

position: absolute;
width: 125px;
height: 29px;
left: 752px;
top: 226px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* Rectangle 3 */

position: absolute;
width: 279px;
height: 98px;
left: 1041px;
top: 182px;

background: #D9D9D9;
mix-blend-mode: plus-lighter;


/* SE CONNECTER */

position: absolute;
width: 179px;
height: 32px;
left: 1115px;
top: 231px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

color: #000000;



/* tempImageYUV6nZ 1 */

position: absolute;
visibility: hidden;
width: 1198px;
height: 588px;
left: 0px;
top: 294px;

background: url(tempImageYUV6nZ);


/* footer */

position: absolute;
width: 1440px;
height: 140px;
left: 2px;
top: 894px;

background: #71B48D;


/* Mentions légales — plan du site —Nous contacter */

position: absolute;
width: 603px;
height: 35px;
left: 815px;
top: 976px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* centre Hospitalier BERNARD 18 avenue Jean Jaurès - 0712131415 */

position: absolute;
width: 426px;
height: 70px;
left: 103px;
top: 966px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* coté */

position: absolute;
visibility: hidden;
width: 1px;
height: 1px;
left: 1440px;
top: 292px;

background: #D9D9D9;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* chez nous ,votre santé est notre priorité , absolue. nous nous engageons à vous fournir des soins médicaux de qualité surpérieure dans un environnement chaleureux et accueillant. */

position: absolute;
visibility: hidden;
width: 232px;
height: 564px;
left: 1208px;
top: 306px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* logo */

position: absolute;
width: 215px;
height: 180px;
left: 5px;
top: 0px;

background: url(tempImageeHSX3Y);


/* image services */

position: absolute;
visibility: hidden;
width: 770px;
height: 424px;
left: 669px;
top: 292px;

background: url(tempImagenV1Wyq);


/* MODULE DE SERVICE */

position: absolute;
visibility: hidden;
width: 662px;
height: 552px;
left: 0px;
top: 294px;



/* Line 1 */

position: absolute;
visibility: hidden;
width: 614px;
height: 0px;
left: 23px;
top: 383px;

border: 1px solid #000000;
transform: rotate(-0.19deg);


/* ACCUEIL DU JOUR */

position: absolute;
visibility: hidden;
width: 232px;
height: 35px;
left: 98px;
top: 346px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 2 */

position: absolute;
visibility: hidden;
width: 637px;
height: 0px;
left: 0px;
top: 472px;

border: 1px solid #000000;


/* MEDECINE */

position: absolute;
visibility: hidden;
width: 140px;
height: 35px;
left: 112px;
top: 437px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 3 */

position: absolute;
visibility: hidden;
width: 637.01px;
height: 0px;
left: 0px;
top: 549px;

border: 1px solid #000000;
transform: rotate(-0.36deg);


/* MATERNITE */

position: absolute;
visibility: hidden;
width: 156px;
height: 35px;
left: 100px;
top: 516px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 4 */

position: absolute;
visibility: hidden;
width: 662px;
height: 0px;
left: 0px;
top: 619px;

border: 1px solid #000000;
transform: rotate(-0.17deg);


/* GENECOLOGIE */

position: absolute;
visibility: hidden;
width: 193px;
height: 35px;
left: 115px;
top: 589px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 5 */

position: absolute;
visibility: hidden;
width: 662px;
height: 0px;
left: 0px;
top: 687px;

border: 1px solid #000000;
transform: rotate(-0.17deg);


/* PEDIATRIE */

position: absolute;
visibility: hidden;
width: 142px;
height: 35px;
left: 117px;
top: 662px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 6 */

position: absolute;
visibility: hidden;
width: 662px;
height: 0px;
left: 0px;
top: 748px;

border: 1px solid #000000;


/* SOINS DE READAPTATION */

position: absolute;
visibility: hidden;
width: 338px;
height: 35px;
left: 112px;
top: 720px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 7 */

position: absolute;
visibility: hidden;
width: 662px;
height: 0px;
left: 0px;
top: 814px;

border: 1px solid #000000;


/* SOINS PALIATIF */

position: absolute;
visibility: hidden;
width: 212px;
height: 35px;
left: 115px;
top: 788px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Rectangle 18 */

position: absolute;
width: 833px;
height: 477px;
left: 585px;
top: 280px;

background: #E3E3E3;


/* FICHE DE SUIVIE PATIENTS */

position: absolute;
width: 315px;
height: 39px;
left: 720px;
top: 468px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;



/* MES RENDEZ-VOUS */

position: absolute;
width: 505px;
height: 38px;
left: 722px;
top: 333px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #000000;



/* Line 8 */

position: absolute;
width: 823px;
height: 0px;
left: 595px;
top: 378px;

border: 1px solid #000000;


/* Line 9 */

position: absolute;
width: 823px;
height: 0px;
left: 595px;
top: 523px;

border: 1px solid #000000;


/* Line 10 */

position: absolute;
width: 832.01px;
height: 0px;
left: 586px;
top: 641px;

border: 1px solid #000000;
transform: rotate(-0.28deg);


/* MES DOCUMENTS */

position: absolute;
width: 284px;
height: 39px;
left: 720px;
top: 590px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;



/* CONTACTEZ -NOUS */

position: absolute;
width: 310px;
height: 39px;
left: 720px;
top: 702px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;



/* Rectangle 19 */

position: absolute;
visibility: hidden;
width: 557px;
height: 597px;
left: 0px;
top: 297px;

background: #D9D9D9;


/* tempImageHNGttH 1 */

position: absolute;
width: 8px;
height: 27px;
left: 29px;
top: 306px;

background: url(tempImageHNGttH);


/* tempImageIJqCYU 1 */

position: absolute;
visibility: hidden;
width: 595px;
height: 614px;
left: 0px;
top: 280px;

background: url(tempImageIJqCYU);


/* tempImagestpLo7 1 */

position: absolute;
width: 585px;
height: 572px;
left: 0px;
top: 322px;

background: url(tempImagestpLo7.png);


/* Group 3 */

position: absolute;
width: 1429px;
height: 1029px;



/* Desktop - 1 */

position: absolute;
width: 1429px;
height: 1029px;

background: #FFFFFF;


/* HEADER */

position: absolute;
width: 1440px;
height: 182px;
left: 0px;
top: -2px;

background: #0C0A3E;


/* CENTRE HOSPITALIER BERNARD */

position: absolute;
width: 421px;
height: 35px;
left: 426px;
top: 86px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #FFFFFF;



/* BARRE DE NAVIGATION */

position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 180px;

background: #1E555C;


/* Rectangle 1 */

position: absolute;
width: 234px;
height: 98px;
left: 0px;
top: 182px;

background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* ACCEUIL */

position: absolute;
width: 93px;
height: 29px;
left: 66px;
top: 217px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* NOS SERVICES */

position: absolute;
width: 251px;
height: 98px;
left: 306px;
top: 182px;

background: #D9D9D9;
mix-blend-mode: lighten;


/* NOS SERVICES */

position: absolute;
width: 155px;
height: 29px;
left: 354px;
top: 226px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* Rectangle 2 */

position: absolute;
width: 258px;
height: 96px;
left: 662px;
top: 182px;

background: #D9D9D9;


/* ADMISSION */

position: absolute;
width: 125px;
height: 29px;
left: 752px;
top: 226px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* Rectangle 3 */

position: absolute;
width: 279px;
height: 98px;
left: 1041px;
top: 182px;

background: #D9D9D9;
mix-blend-mode: plus-lighter;


/* SE CONNECTER */

position: absolute;
width: 179px;
height: 32px;
left: 1115px;
top: 231px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

color: #000000;



/* tempImageYUV6nZ 1 */

position: absolute;
visibility: hidden;
width: 1198px;
height: 588px;
left: 0px;
top: 294px;

background: url(tempImageYUV6nZ);


/* footer */

position: absolute;
width: 1440px;
height: 140px;
left: 2px;
top: 894px;

background: #71B48D;


/* Mentions légales — plan du site —Nous contacter */

position: absolute;
width: 603px;
height: 35px;
left: 815px;
top: 976px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* centre Hospitalier BERNARD 18 avenue Jean Jaurès - 0712131415 */

position: absolute;
width: 426px;
height: 70px;
left: 103px;
top: 966px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* coté */

position: absolute;
visibility: hidden;
width: 1px;
height: 1px;
left: 1440px;
top: 292px;

background: #D9D9D9;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* chez nous ,votre santé est notre priorité , absolue. nous nous engageons à vous fournir des soins médicaux de qualité surpérieure dans un environnement chaleureux et accueillant. */

position: absolute;
visibility: hidden;
width: 232px;
height: 564px;
left: 1208px;
top: 306px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* logo */

position: absolute;
width: 215px;
height: 180px;
left: 5px;
top: 0px;

background: url(tempImageeHSX3Y);


/* image services */

position: absolute;
visibility: hidden;
width: 770px;
height: 424px;
left: 669px;
top: 292px;

background: url(tempImagenV1Wyq);


/* MODULE DE SERVICE */

position: absolute;
visibility: hidden;
width: 662px;
height: 552px;
left: 0px;
top: 294px;



/* Line 1 */

position: absolute;
visibility: hidden;
width: 614px;
height: 0px;
left: 23px;
top: 383px;

border: 1px solid #000000;
transform: rotate(-0.19deg);


/* ACCUEIL DU JOUR */

position: absolute;
visibility: hidden;
width: 232px;
height: 35px;
left: 98px;
top: 346px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 2 */

position: absolute;
visibility: hidden;
width: 637px;
height: 0px;
left: 0px;
top: 472px;

border: 1px solid #000000;


/* MEDECINE */

position: absolute;
visibility: hidden;
width: 140px;
height: 35px;
left: 112px;
top: 437px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 3 */

position: absolute;
visibility: hidden;
width: 637.01px;
height: 0px;
left: 0px;
top: 549px;

border: 1px solid #000000;
transform: rotate(-0.36deg);


/* MATERNITE */

position: absolute;
visibility: hidden;
width: 156px;
height: 35px;
left: 100px;
top: 516px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 4 */

position: absolute;
visibility: hidden;
width: 662px;
height: 0px;
left: 0px;
top: 619px;

border: 1px solid #000000;
transform: rotate(-0.17deg);


/* GENECOLOGIE */

position: absolute;
visibility: hidden;
width: 193px;
height: 35px;
left: 115px;
top: 589px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 5 */

position: absolute;
visibility: hidden;
width: 662px;
height: 0px;
left: 0px;
top: 687px;

border: 1px solid #000000;
transform: rotate(-0.17deg);


/* PEDIATRIE */

position: absolute;
visibility: hidden;
width: 142px;
height: 35px;
left: 117px;
top: 662px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 6 */

position: absolute;
visibility: hidden;
width: 662px;
height: 0px;
left: 0px;
top: 748px;

border: 1px solid #000000;


/* SOINS DE READAPTATION */

position: absolute;
visibility: hidden;
width: 338px;
height: 35px;
left: 112px;
top: 720px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Line 7 */

position: absolute;
visibility: hidden;
width: 662px;
height: 0px;
left: 0px;
top: 814px;

border: 1px solid #000000;


/* SOINS PALIATIF */

position: absolute;
visibility: hidden;
width: 212px;
height: 35px;
left: 115px;
top: 788px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Rectangle 11 */

position: absolute;
width: 735px;
height: 99px;
left: 306px;
top: 378px;

background: #D9D9D9;


/* Rectangle 12 */

position: absolute;
width: 730px;
height: 103px;
left: 311px;
top: 562px;

background: #D9D9D9;


/* EMAIL */

position: absolute;
width: 83px;
height: 35px;
left: 85px;
top: 425px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* MOT DE PASSE */

position: absolute;
width: 192px;
height: 35px;
left: 57px;
top: 613px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Desktop - 2 */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* HEADER */

position: absolute;
width: 1440px;
height: 182px;
left: -4px;
top: 9px;

background: #0C0A3E;


/* CENTRE HOSPITALIER BERNARD */

position: absolute;
width: 421px;
height: 35px;
left: 386px;
top: 83px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #FFFFFF;



/* logo */

position: absolute;
width: 215px;
height: 180px;
left: 0px;
top: 9px;

background: url(tempImageeHSX3Y);


/* back end employé */

position: absolute;
width: 1440px;
height: 834px;
left: 0px;
top: 190px;



/* back1 */

position: absolute;
width: 1432px;
height: 643px;
left: 0px;
top: 190px;

background: #4B4545;


/* footer */

position: absolute;
width: 1440px;
height: 191px;
left: 0px;
top: 833px;



/* footer */

position: absolute;
width: 1440px;
height: 188.31px;
left: 0px;
top: 833px;

background: #71B48D;


/* Mentions légales — plan du site —Nous contacter */

position: absolute;
width: 603px;
height: 47.08px;
left: 813px;
top: 943.3px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* centre Hospitalier BERNARD 18 avenue Jean Jaurès - 0712131415 */

position: absolute;
width: 426px;
height: 94.15px;
left: 101px;
top: 929.84px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Rectangle 13 */

position: absolute;
width: 901px;
height: 80px;
left: 374px;
top: 356px;

background: #D9D9D9;


/* Rectangle 14 */

position: absolute;
width: 901px;
height: 80px;
left: 374px;
top: 472px;

background: #D9D9D9;


/* ID */

position: absolute;
width: 34px;
height: 40px;
left: 322px;
top: 396px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 40px;

color: #FFFFFF;



/* MOT DE PASSE */

position: absolute;
width: 210px;
height: 40px;
left: 129px;
top: 512px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 40px;

color: #FFFFFF;



/* ACCÈS PATIENT */

position: absolute;
width: 241px;
height: 43px;
left: 551px;
top: 265px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 43px;

color: #FFFFFF;



/* ACCÈS PROFESSIONNEL */

position: absolute;
width: 1440px;
height: 1016px;



/* HEADER */

position: absolute;
width: 1440px;
height: 182px;

background: #0C0A3E;


/* CENTRE HOSPITALIER BERNARD */

position: absolute;
width: 421px;
height: 35px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #FFFFFF;



/* logo */

position: absolute;
width: 215px;
height: 180px;

background: url(tempImageeHSX3Y);


/* back end employé */

position: absolute;
width: 1440px;
height: 834px;



/* back1 */

position: absolute;
width: 1432px;
height: 643px;

background: #4B4545;


/* footer */

position: absolute;
width: 1440px;
height: 191px;



/* footer */

position: absolute;
width: 1440px;
height: 188.31px;

background: #71B48D;


/* Mentions légales — plan du site —Nous contacter */

position: absolute;
width: 603px;
height: 47.08px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* centre Hospitalier BERNARD 18 avenue Jean Jaurès - 0712131415 */

position: absolute;
width: 426px;
height: 94.15px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;



/* Rectangle 13 */

position: absolute;
width: 901px;
height: 80px;

background: #D9D9D9;


/* Rectangle 16 */

position: absolute;
width: 901px;
height: 80px;

background: #D9D9D9;


/* ID */

position: absolute;
width: 34px;
height: 40px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 40px;

color: #FFFFFF;



/* MOT DE PASSE */

position: absolute;
width: 210px;
height: 40px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 40px;

color: #FFFFFF;



/* ACCÈS PROFESSIONEL */

position: absolute;
width: 353px;
height: 43px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 43px;

color: #FFFFFF;

